<div class="row">
  <div class="col-md-12">
    <jhi-employee-upload
      (fileWasUploaded)="updateEmployeeList($any($event))"
      (fileWasDeleted)="deleteFile($any($event))"
    ></jhi-employee-upload>
  </div>
  <div class="col-md-4">
    <jhi-employee-list
      [displayCode]="displayCode$ | async"
      [employees]="employees$ | async"
      [selectedEmployee]="selectedEmployee$ | async"
      [errorMessage]="errorMessage$ | async"
      (displayCodeChanged)="checkChanged()"
      (initializeNewEmployee)="newEmployee()"
      (employeeWasSelected)="employeeSelected($any($event))"
    ></jhi-employee-list>
  </div>
  <div class="col-md-8">
    <jhi-employee-edit
      [selectedEmployee]="selectedEmployee$ | async"
      [errorMessage]="errorMessage$ | async"
      (clearCurrent)="clearEmployee()"
      (update)="updateEmployee($any($event))"
      (delete)="deleteEmployee($any($event))"
      (create)="saveEmployee($any($event))"
    ></jhi-employee-edit>
  </div>
</div>
